.temperatures{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #fff;
}

.mainTemperature, .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    font-size: 7rem;
    color: #fff;
}

.maxTemperature, .minTemperature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.maxTemperature h3, .minTemperature h3{
    font-size: 1rem;
    font-weight: 200;
}

.maxTemperature img, .minTemperature img{
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}


.maxMinTemperature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

