*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width:1000px) {
    .total {
        display: flex;
        flex-direction: column-reverse;
    } 
}